<% provide(:title,"Contact") -%>
<h1>Contact</h1>
<!--  <script type="text/javascript"
src="http://maps.google.cn/maps/api/js?sensor=false&language=zh-cn"></script>--> 
<div class="container">
	<div class="col-md-4">
	<input type="button" onclick="showpos()" value="my position">
	</div>
	<div class="col-md-8">
	<div id="map">	</div>
	</div>
</div>