<% provide(:title,"Contact") -%>
<h1>Contact</h1>
<!---->  



<div class="container">
	<div class="col-md-4">
	<input type="button" onclick="showpos()" value="my position">
	</div>
	<div class="col-md-8">
	<div id="map"></div>
  <script>
   var map = new GMaps({
        el: '#map',
        lat: -12.043333,
        lng: -77.028333,
        zoomControl : true,
        zoomControlOpt: {
            style : 'SMALL',
            position: 'TOP_LEFT'
        },
        panControl : false,
        streetViewControl : false,
        mapTypeControl: false,
        overviewMapControl: false
      });

  </script>
	</div>
</div>